*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



#container{
    width:100%;
    height:auto;
    border:1px solid green;
    display:flex;
    justify-content: space-between;
}
#leftside{
    width:25%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border:1px solid blue;
}
#food{
    border:1px solid green;
    font-family: Rubik,Helvetica,Arial,sans-serif;
    color: #268fd0;
    padding:15px 0 15px 10px;
    border-bottom: dashed;
    border-width:1px;
}
#food:hover{
    text-decoration: underline;
    color:#46618a;
}
#api{
    border:1px solid green;
    font-family: Rubik,Helvetica,Arial,sans-serif;
    color: #268fd0;
    padding:15px 0 15px 10px;
    border-bottom: dashed;
    border-width:1px;
}
#api:hover{
    text-decoration: underline;
    color:#46618a;
}
#rightside{
    width:70%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border:1px solid red;
    
}
#first_h4{
    padding:40px 40px 0 40px;
    font-size: 20px;
    line-height:30px;
    text-align: justify;
    color:#46618a;
}
#second_h4{
    padding:20px 40px 0 40px;
    color:#46618a;
    font-size: 20px;
    margin-bottom:40px;
}
#one,#two,#three,#four{
 color:green;
 text-decoration: underline;
 
}
#one:hover,#two:hover,#three:hover,#four:hover{
    text-decoration: none;
}
input#nosubmit {
    border: 1px solid green;
    width: 90%;
    border-radius: 5px;
    font-style: italic;
    margin:0px 40px 0px 40px;
    padding: 9px 4px 9px 40px;
    font-size: 22px;
     background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }
  #append{
      border:1px solid green;
      display:grid;
      grid-template-columns: repeat(1,1fr);
      gap:20px;
  }
  #append>div{
       display:flex;
       justify-content: space-around;
       border:1px solid greenyellow;
       align-items: center;
       background-color: grey;
        color:#46618a;
  }
  
  #append>div img{
      width:25%;
      height:200px;
  }


  /* media queary */
  @media only screen and (max-width:600px){
    #container{
        width:100%;
        height:auto;
        border:1px solid green;
        display:flex;
        justify-content: space-between;
    }
    #leftside{
        width:0%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border:1px solid blue;
    }
    #food{
        border:1px solid green;
        font-family: Rubik,Helvetica,Arial,sans-serif;
        color:white;
        height:0px;
        border-bottom: dashed;
        border-width:1px;
    }
    #food:hover{
        text-decoration: none;
        
    }
    #api{
        border:1px solid green;
        font-family: Rubik,Helvetica,Arial,sans-serif;
        color: white;
        height:0;
        border-bottom: none;
        border-width:1px;
    }
    #api:hover{
        text-decoration: none;
        
    }
    #rightside{
        width:100%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border:1px solid red;
        
    }
    #first_h4{
        padding:0px 0px 0 0px;
        font-size: 0px;
        line-height:0px;
        text-align: justify;
        color:white;
    }
    #second_h4{
        padding:0px 0px 0 0px;
        color:white;
        font-size: 0px;
        margin-bottom:0px;
    }
    #one,#two,#three,#four{
     color:white;
     text-decoration: none;
     
    }
    #one:hover,#two:hover,#three:hover,#four:hover{
        text-decoration: none;
    }
  }

  @media only screen and (min-width:601px) and (max-width:768px){
    #container{
        width:100%;
        height:auto;
        border:1px solid green;
        display:flex;
        justify-content: space-between;
    }
    #leftside{
        width:0%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border:1px solid blue;
    }
    #food{
        border:1px solid green;
        font-family: Rubik,Helvetica,Arial,sans-serif;
        color:white;
        height:0px;
        border-bottom: dashed;
        border-width:1px;
    }
    #food:hover{
        text-decoration: none;
        
    }
    #api{
        border:1px solid green;
        font-family: Rubik,Helvetica,Arial,sans-serif;
        color: white;
        height:0;
        border-bottom: none;
        border-width:1px;
    }
    #api:hover{
        text-decoration: none;
        
    }
    #rightside{
        width:100%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border:1px solid red;
        
    }
  }