#ipad {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    color: #5bc0ff;

}

.con {
    margin: auto;
    width: 100;
    height: 100vh;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    border: 25px solid black;
    border-radius: 5%;
    width: 40%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    width: 100%;
    height: min-content;


}

.swiper-button-prev {
    margin-right: 50pxS;
}


#blocks {
    display: flex;
    align-items: center;
    gap: 80px;
    margin: auto;
    margin-left: 20px;
    margin-top: 40px;
}

#blocks>div {
    height: 250px;
    width: 250px;
    background-color: rgb(255, 250, 205);
    align-items: center;
    border-radius: 10px;
    box-shadow: #eaeaea;

}

#blocks>div,
/* img,
h3 {
    margin-top: 20px;
    margin-left: 50px;
} */

#blocks>div:hover {
    background-color: rgb(245, 222, 179)
}


#videosection {
    width: 100%;

    height: 1000px;
    background-color: #f6a832;
    border-bottom-right-radius: 100rem 5rem;
    border-bottom-left-radius: 100rem 5rem;


}

#vid {
    margin-top: 40px;
    margin-left: 40px;
    border: 10px solid white;
    border-radius: 3%;
}

#videoimages {
    display: flex;
    margin: auto;
    gap: 180px;
    margin-top: 40px;
    margin-left: 40px;

}

#img {
    display: flex;
    margin-top: 40px;
    margin-left: 90px;
    gap: 10px;

}

#im {
    background-color: #05963d;
    height: 90px;
    width: 130px;
    border-radius: 50%;
    margin-top: 20px;
}

#im img {
    padding-left: 10px;
}

#text {
    color: white;
}



#mid-part {
    width: 100%;
    display: flex;
    gap: 200px;
    margin: auto;
    margin-left: 30px;
    padding-left: 120px;
    margin-top: 30px;
    background-color: lightgrey;
}

#mid-part h6 {
    color: #5bc0ff;
    font-size: 30px;
}

#mid-part img {
    margin-top: 30px;
}

@media only screen and(max-width:900px) {
    #mid-part {
        display: grid;
        grid-template-rows: repeat(1, 3fr);


    }

}





.upper-part {
    width: 100%;
    position: relative;
    overflow: hidden;
    font-size: 2.6rem;
}

.upper-part ._layers::after {
    position: absolute;
    top: -69%;
    left: 22%;
    width: 90%;
    height: 148%;
    border: .1rem dashed rgba(0, 96, 66, 0.6);
    border-radius: 50%;
    content: '';
}

.upper-part .__layer-left {
    position: absolute;
    top: 7%;
    left: -5.5rem;
    max-width: 9rem;
    width: 4.69%;
    height: auto;
}

.upper-part .__layer-right-two {
    position: absolute;
    bottom: 30rem;
    right: 2%;
    max-width: 9.4rem;
}



.upper-part::before {
    position: absolute;
    left: -5rem;
    right: -5rem;
    height: 80%;
    background: #447a14;
    background: #05963d radial-gradient(ellipse at top, #24bf62 0, #05963d 60%);
    overflow: hidden;
    border-bottom-right-radius: 100rem 5rem;
    border-bottom-left-radius: 100rem 5rem;
    box-shadow: inset rgba(9, 108, 46, .76) 0 -2.3rem 10.7rem;
    content: ''
}


.upper-part ._layers {
    position: relative;
    z-index: 3
}

.upper-part ._layers::before {
    position: absolute;
    bottom: 22%;
    left: -11%;
    width: 70rem;
    height: 35rem;
    border: .1rem dashed rgba(5, 96, 0, .6);
    border-radius: 140rem 140rem 0 0;
    border-bottom: none;
    content: '';
    z-index: 1
}

.upper-part .container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    padding-bottom: 15rem;
    min-height: 102rem;
    z-index: 3
}

.upper-part .__layer-right-one {
    position: absolute;
    top: 20rem;
    right: 38%;
    max-width: 7.5rem;
    z-index: 2
}

@media only screen and (max-width:767px) {
    .upper-part .container {
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-direction: column;
        flex-direction: column;
        min-height: 0
    }
}


@media only screen and (max-width:1280px) and (min-width:989px) {
    .upper-part {
        margin-top: -12rem;
        font-size: 2.4rem
    }
}

@media only screen and (max-width:991px) {
    .upper-part {
        font-size: 2.2rem
    }
}

@media only screen and (max-width:767px) {
    .upper-part {
        margin-top: -10rem;
        font-size: 2rem
    }
}

@media only screen and (max-width:575px) {
    .upper-part {
        text-align: center
    }
}

@media only screen and (max-width:1469px) {
    .upper-part::before {
        left: -3rem;
        right: -3rem
    }
}

@media only screen and (max-width:1366px) {
    .upper-part::before {
        left: -2rem;
        right: -2rem
    }
}

@media only screen and (max-width:1280px) {
    .upper-part::before {
        left: -1rem;
        right: -1rem;
        height: 86%
    }
}

@media only screen and (max-width:991px) {
    .upper-part::before {
        height: 80%
    }
}

@media only screen and (max-width:767px) {
    .upper-part::before {
        height: 85%
    }
}

@media only screen and (max-width:575px) {
    .upper-part::before {
        height: 58%
    }
}

@media only screen and (max-width:1750px) {
    .upper-part ._layers::before {
        left: -17%
    }
}

@media only screen and (max-width:1680px) {
    .upper-part ._layers::before {
        left: -20%
    }
}

@media only screen and (max-width:1469px) {
    .upper-part ._layers::before {
        left: -33%
    }
}

@media only screen and (max-width:1280px) {
    .upper-part ._layers::before {
        display: none
    }
}

@media only screen and (max-width:1469px) {
    .upper-part ._layers::after {
        top: -72%;
        width: 95rem;
        height: 95rem
    }
}

@media only screen and (max-width:1280px) {
    .upper-part ._layers::after {
        display: none
    }
}

@media only screen and (max-width:1919px) {
    .upper-part .container {
        min-height: 90rem
    }
}

@media only screen and (max-width:1469px) {
    .upper-part .container {
        min-height: 85rem;
        padding-bottom: 7rem
    }
}

@media only screen and (max-width:1366px) {
    .upper-part .container {
        min-height: 76rem
    }
}

@media only screen and (max-width:1280px) {
    .upper-part .container {
        min-height: 70rem;
        padding-bottom: 0
    }
}

@media only screen and (max-width:991px) {
    .upper-part .container {
        min-height: 70rem
    }
}

.upper-part ._text {
    color: #fcf8b3
}

@media only screen and (max-width:1469px) {
    .upper-part ._text {
        margin-right: 5%
    }
}

@media only screen and (max-width:1280px) {
    .upper-part ._text {
        margin-right: 4%
    }
}

@media only screen and (max-width:767px) {
    .upper-part ._text {
        margin: 11.5rem 1.5rem 3rem;
        text-align: center
    }
}

@media only screen and (max-width:575px) {
    .upper-part ._text {
        margin-top: 10.5rem
    }
}

.upper-part ._text ._headline,
.upper-part ._text .section-toprated ._features .__item .__heading {
    margin: 0 0 2rem;
    color: #fff
}

.upper-part ._text ._subtitle {
    margin-bottom: 2rem;
    font-size: 2.4rem
}

.upper-part .__layer-devices {
    position: absolute;
    top: 19rem;
    left: -10%;
    width: 77.07%;
    height: auto
}

@media only screen and (max-width:1919px) {
    .upper-part .__layer-devices {
        top: 16rem;
        left: 0;
        width: 68%
    }
}

@media only screen and (max-width:1469px) {
    .upper-part .__layer-devices {
        width: 65%
    }
}

@media only screen and (max-width:1366px) {
    .upper-part .__layer-devices {
        left: 3%;
        width: 60%
    }
}

@media only screen and (max-width:1280px) {
    .upper-part .__layer-devices {
        top: 25%;
        width: 55%
    }
}

@media only screen and (max-width:991px) {
    .upper-part .__layer-devices {
        left: 3%;
        top: 30%;
        width: 50%
    }
}

@media only screen and (max-width:767px) {
    .upper-part .__layer-devices {
        top: 35%;
        left: 50%;
        margin-left: -23.25rem;
        width: 100%;
        max-width: 46.5rem
    }
}

@media only screen and (max-width:575px) {
    .upper-part .__layer-devices {
        top: 50%;
        left: 50%;
        max-width: 40.6rem;
        margin-left: -20.3rem;
        margin-top: -25%
    }
}

@media only screen and (max-width:459px) {
    .upper-part .__layer-devices {
        margin-top: -23%;
        margin-left: -45%;
        width: 90%
    }
}

@media only screen and (max-width:1469px) {
    .upper-part .__layer-right-one {
        max-width: 5.5rem
    }
}

@media only screen and (max-width:1280px) {
    .upper-part .__layer-right-one {
        right: 47%
    }
}

@media only screen and (max-width:991px) {
    .upper-part .__layer-right-one {
        display: none
    }
}

@media only screen and (max-width:1469px) {
    .upper-part .__layer-right-two {
        max-width: 7.4rem
    }
}

@media only screen and (max-width:1280px) {
    .upper-part .__layer-right-two {
        bottom: 16rem;
        max-width: 6.4rem
    }
}

@media only screen and (max-width:991px) {
    .upper-part .__layer-right-two {
        max-width: 5.4rem
    }
}

@media only screen and (max-width:575px) {
    .upper-part .__layer-right-two {
        display: none
    }
}

@media only screen and (max-width:1469px) {
    .upper-part .__layer-left {
        top: 20%;
        left: -4rem;
        max-width: 7rem;
        width: auto
    }
}

@media only screen and (max-width:1280px) {
    .upper-part .__layer-left {
        left: -3rem;
        max-width: 5rem
    }
}

@media only screen and (max-width:991px) {
    .upper-part .__layer-left {
        max-width: 4rem
    }
}

@media only screen and (max-width:575px) {
    .upper-part .__layer-left {
        display: none
    }
}

@media only screen and (max-width:767px) {
    .upper-part ._footer {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        margin-top: 36rem
    }
}

@media only screen and (max-width:575px) {
    .upper-part ._footer {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: space-between;
        align-items: space-between;
        margin-top: 80%
    }
}

.upper-part ._stores .__item {
    max-width: 28rem;
    display: inline-block
}

@media only screen and (max-width:1919px) {
    .upper-part ._stores .__item {
        max-width: 25rem
    }
}

@media only screen and (max-width:1280px) {
    .upper-part ._stores .__item {
        max-width: 20rem
    }
}

@media only screen and (max-width:767px) {
    .upper-part ._stores .__item {
        max-width: 15rem
    }
}

@media only screen and (max-width:575px) {
    .upper-part ._stores .__item {
        max-width: 20rem
    }
}

.upper-part ._app-rating {
    margin-bottom: 5.5rem
}

@media only screen and (max-width:1919px) {
    .upper-part ._app-rating {
        margin-bottom: 3.5rem
    }
}

@media only screen and (max-width:767px) {
    .upper-part ._app-rating {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-bottom: 0;
        color: #46618a;
        font-size: 1.5rem
    }
}

@media only screen and (max-width:575px) {
    .upper-part ._app-rating {
        margin-bottom: 1.5rem;
        font-size: 1.7rem
    }
}

.upper-part ._app-rating .__score {
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 7.6rem;
    line-height: 1;
    color: #fff
}

@media only screen and (max-width:1469px) {
    .upper-part ._app-rating .__score {
        font-size: 7rem
    }
}

@media only screen and (max-width:1280px) {
    .upper-part ._app-rating .__score {
        font-size: 6rem
    }
}

@media only screen and (max-width:991px) {
    .upper-part ._app-rating .__score {
        font-size: 5rem
    }
}

.upper-part ._app-rating .__reviews {
    padding-left: 2rem;
    margin-left: 2rem;
    height: 5.3rem;
    border-left: 4px solid #9bff56;
    color: #9bff56;
    font-size: 1.9rem;
    line-height: 1.3;
    text-align: left
}

@media only screen and (max-width:1469px) {
    .upper-part ._app-rating .__reviews {
        height: 5rem;
        font-size: 1.7rem
    }
}

@media only screen and (max-width:1280px) {
    .upper-part ._app-rating .__reviews {
        height: 4.5rem;
        font-size: 1.5rem
    }
}

@media only screen and (max-width:991px) {
    .upper-part ._app-rating .__reviews {
        height: 3.6rem;
        font-size: 1.3rem;
        border-width: 2px
    }
}

@media only screen and (max-width:767px) {
    .upper-part ._app-rating .__stars {
        margin-bottom: .5rem
    }
}

@media only screen and (max-width:575px) {
    .upper-part ._app-rating .__stars {
        margin: 0 0 1rem
    }
}

@media only screen and (max-width:1280px) {
    .upper-part ._app-rating .__stars>img {
        width: 3.2rem
    }
}

@media only screen and (max-width:991px) {
    .upper-part ._app-rating .__stars>img {
        width: 2.8rem
    }
}

@media only screen and (max-width:575px) {
    .upper-part ._app-rating .__stars>img {
        width: 3.4rem
    }
}

@media only screen and (max-width:1280px) {
    .upper-part ._app-rating .__stars>img:last-child {
        width: 2.4rem
    }
}

@media only screen and (max-width:991px) {
    .upper-part ._app-rating .__stars>img:last-child {
        width: 2.1rem
    }
}

@media only screen and (max-width:767px) {
    .upper-part ._app-rating .__stars>img:last-child {
        width: 2.8rem
    }
}

@media only screen and (max-width:575px) {
    .upper-part ._app-rating .__stars>img:last-child {
        width: 3.4rem
    }
}






/* .section-app-benefits */


._headline-text-center {
    text-align: center;
    font-size: 60px;
    color: #5bc0ff;
    font-weight: 2500;
    margin-bottom: 20px;
}


.section-app-benefits {

    position: relative;
    background: url(https://s3.amazonaws.com/img.mynetdiary.com/images/app-features-circles-bg.jpg) center center no-repeat;
    background-size: 1440px auto
}

@media only screen and (max-width:1440px) {
    .section-app-benefits {
        background-size: 100% auto
    }
}

.section-app-benefits::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(https://s3.amazonaws.com/img.mynetdiary.com/images/app-features-iphone@1x.png) 58% 75% no-repeat;
    background-size: 1374px auto;
    content: '';
    z-index: 1
}

@media only screen and (-webkit-min-device-pixel-ratio:1.25),
only screen and (min--moz-device-pixel-ratio:1.25),
only screen and (min-device-pixel-ratio:1.25),

only screen and (-webkit-min-device-pixel-ratio:2.0833333333333335),
only screen and (min-resolution:200dpi),
only screen and (min-resolution:1.25dppx) {
    .section-app-benefits::before {
        background-image: url(https://s3.amazonaws.com/img.mynetdiary.com/images/app-features-iphone@2x.png)
    }
}

@media only screen and (max-width:1469px) {
    .section-app-benefits::before {
        background-size: 90% auto;
        background-position: 58% 70%
    }
}

@media only screen and (max-width:1280px) {
    .section-app-benefits::before {
        background-position: 58% 67%
    }
}


@media only screen and (max-width:767px) {
    .section-app-benefits::before {
        background-image: url(https://s3.amazonaws.com/img.mynetdiary.com/images/app-features-iphone@0,5x.png);
        background-size: 125% auto
    }
}

@media only screen and (max-width:575px) {
    .section-app-benefits::before {
        opacity: .3;
        background-size: 180% auto;
        background-position: center 100%;
        z-index: 0
    }
}

.section-app-benefits ._wrapper {
    position: relative;
    padding-top: 6rem;
    border-top: 1px dashed #d5dbe4;
    min-height: 132.6rem
}


@media only screen and (max-width:1280px) {
    .section-app-benefits ._wrapper {
        min-height: 110rem
    }
}

@media only screen and (max-width:991px) {
    .section-app-benefits ._wrapper {
        min-height: 105rem
    }
}

@media only screen and (max-width:575px) {
    .section-app-benefits ._wrapper {
        min-height: 0;
        padding-top: 4rem
    }
}

@media only screen and (max-width:575px) {

    .section-app-benefits ._headline,
    .section-app-benefits .section-toprated ._features .__item .__heading {
        margin-bottom: 5rem
    }
}

.section-app-benefits ._bubble {

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    padding: 0 2.5rem 0 5.5rem;
    width: 47rem;
    height: 47rem;
    border-radius: 50%;
    color: #fff;
    z-index: 2
}

@media only screen and (max-width:1469px) {
    .section-app-benefits ._bubble {
        padding-top: 5.5rem;
        width: 40rem;
        height: 40rem
    }
}

@media only screen and (max-width:1280px) {
    .section-app-benefits ._bubble {
        padding-top: 5rem;
        width: 35rem;
        height: 35rem
    }
}

@media only screen and (max-width:991px) {
    .section-app-benefits ._bubble {
        padding-top: 4rem;
        width: 32rem;
        height: 32rem
    }
}

@media only screen and (max-width:575px) {
    .section-app-benefits ._bubble {
        position: static;
        margin: 0 auto 3rem;
        padding: 2rem 1.5rem;
        width: 100%;
        max-width: 45rem;
        height: auto;
        border-radius: 1rem
    }
}

.section-app-benefits ._bubble .__headline {
    position: relative;
    margin-bottom: 2.5rem;
    padding-left: 10rem;
    font-weight: 700;
    line-height: 1.1;
    font-size: 3.2rem;
    text-transform: uppercase
}

@media only screen and (max-width:1469px) {
    .section-app-benefits ._bubble .__headline {
        padding-left: 8rem;
        font-size: 2.6rem
    }
}

@media only screen and (max-width:1280px) {
    .section-app-benefits ._bubble .__headline {
        margin-bottom: 1.5rem;
        padding-left: 6rem;
        font-size: 2.2rem
    }
}

@media only screen and (max-width:991px) {
    .section-app-benefits ._bubble .__headline {
        font-size: 2rem
    }
}

.section-app-benefits ._bubble .__icon {
    position: absolute;
    left: 0;
    top: 50%;
    display: block
}

.section-app-benefits ._bubble .__cup {
    left: 4%;
    margin-top: -3.6rem;
    width: 6.8rem;
    height: 6.8rem;
}


@media only screen and (max-width:1469px) {

    .section-app-benefits ._bubble .__cup {
        margin-top: -3.1rem;
        width: 5.6rem;
        height: 5.6rem
    }
}

@media only screen and (max-width:1280px) {
    .section-app-benefits ._bubble .__cup {
        left: 1%;
        margin-top: -2.5rem;
        width: 4.6rem;
        height: 4.6rem
    }
}

@media only screen and (max-width:991px) {
    .section-app-benefits ._bubble .__cup {
        margin-top: -2.3rem;
        width: 4.2rem;
        height: 4.2rem
    }
}

.section-app-benefits ._bubble .__plane-table {
    left: 6%;
    margin-top: -3.3rem;
    width: 6.2rem;
    height: 6.6rem;
    background: url("data:image/svg+xml,%3csvg viewBox='0 0 62 66' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M58.611,37.387 L59.313,37.912 L59.313,37.933 C59.315,37.934 59.316,37.935 59.318,37.937 C61.146,39.248 61.557,41.782 60.237,43.597 L54.508,51.463 C54.082,52.051 53.257,52.185 52.665,51.762 C52.073,51.339 51.938,50.519 52.364,49.932 L58.093,42.065 C58.094,42.063 58.096,42.061 58.097,42.060 C58.561,41.417 58.413,40.523 57.766,40.062 L57.063,39.537 L41.122,61.495 C40.994,61.672 40.823,61.814 40.626,61.909 L32.394,65.879 C32.163,65.991 31.904,66.033 31.649,66.000 C30.926,65.907 30.416,65.250 30.509,64.531 L31.713,55.527 C31.745,55.321 31.827,55.125 31.951,54.956 L50.574,29.259 C50.577,29.255 50.579,29.252 50.582,29.248 C52.171,27.065 55.240,26.574 57.438,28.152 L58.648,28.996 C58.651,28.999 58.654,29.001 58.657,29.003 C60.854,30.583 61.346,33.632 59.756,35.814 L58.611,37.387 ZM34.152,57.185 L33.440,62.460 L38.276,60.137 C37.534,58.490 35.960,57.364 34.152,57.185 ZM13.514,50.203 C13.110,51.334 11.863,51.924 10.728,51.522 C9.593,51.119 9.001,49.877 9.405,48.746 C9.809,47.616 11.056,47.025 12.190,47.428 C13.325,47.830 13.918,49.073 13.514,50.203 ZM10.724,32.391 C9.589,31.989 8.997,30.747 9.400,29.616 C9.804,28.486 11.051,27.896 12.186,28.298 C13.321,28.700 13.913,29.943 13.510,31.073 C13.106,32.204 11.858,32.794 10.724,32.391 ZM13.512,40.638 C13.108,41.768 11.861,42.359 10.726,41.957 C9.591,41.554 8.999,40.312 9.403,39.181 C9.806,38.051 11.054,37.460 12.188,37.863 C13.323,38.265 13.916,39.508 13.512,40.638 ZM47.718,25.611 C46.704,25.611 45.883,24.792 45.883,23.782 L45.883,19.517 L3.661,19.517 L3.661,58.412 C3.661,59.705 4.713,60.753 6.011,60.753 L24.618,60.753 L24.618,60.760 C25.631,60.760 26.453,61.579 26.453,62.589 C26.453,63.599 25.631,64.418 24.618,64.418 L6.011,64.418 C2.687,64.414 -0.006,61.731 -0.010,58.420 L-0.010,11.215 C-0.006,7.904 2.687,5.220 6.011,5.217 L7.949,5.217 L7.949,1.827 C7.949,0.818 8.771,-0.001 9.785,-0.001 C10.799,-0.001 11.621,0.818 11.621,1.827 L11.621,5.217 L17.943,5.217 L17.943,1.827 C17.943,0.818 18.765,-0.001 19.779,-0.001 C20.793,-0.001 21.614,0.818 21.614,1.827 L21.614,5.217 L27.929,5.217 L27.929,1.827 C27.929,0.818 28.751,-0.001 29.765,-0.001 C30.779,-0.001 31.601,0.818 31.601,1.827 L31.601,5.217 L37.923,5.217 L37.923,1.827 C37.923,0.818 38.745,-0.001 39.759,-0.001 C40.772,-0.001 41.594,0.818 41.594,1.827 L41.594,5.217 L43.533,5.217 C46.856,5.220 49.550,7.904 49.554,11.215 L49.554,23.782 C49.554,24.792 48.732,25.611 47.718,25.611 ZM17.759,30.344 C17.759,29.334 18.581,28.515 19.595,28.515 L37.497,28.515 C38.511,28.515 39.333,29.334 39.333,30.344 C39.333,31.354 38.511,32.173 37.497,32.173 L19.595,32.173 C18.581,32.173 17.759,31.354 17.759,30.344 ZM31.645,41.741 L19.595,41.741 C18.581,41.741 17.759,40.922 17.759,39.912 C17.759,38.902 18.581,38.083 19.595,38.083 L31.645,38.083 C32.659,38.083 33.480,38.902 33.480,39.912 C33.480,40.922 32.659,41.741 31.645,41.741 ZM19.639,51.309 C18.625,51.309 17.803,50.490 17.803,49.481 C17.803,48.471 18.625,47.652 19.639,47.652 L25.513,47.652 C26.527,47.652 27.349,48.471 27.349,49.481 C27.349,50.490 26.527,51.309 25.513,51.309 L19.639,51.309 Z'/%3e%3c/svg%3e")
}


@media only screen and (max-width:1469px) {
    .section-app-benefits ._bubble .__plane-table {
        margin-top: -2.8rem;
        width: 5.2rem;
        height: 5.6rem
    }
}

@media only screen and (max-width:1280px) {
    .section-app-benefits ._bubble .__plane-table {
        left: 3%;
        margin-top: -2.2rem;
        width: 4.2rem;
        height: 4.4rem
    }
}

@media only screen and (max-width:991px) {
    .section-app-benefits ._bubble .__plane-table {
        left: 1rem;
        margin-top: -2rem;
        width: 3.8rem;
        height: 4rem
    }
}

.section-app-benefits ._bubble .__reward {
    margin-top: -3.55rem;
    width: 8rem;
    height: 7.1rem;
    background: url("data:image/svg+xml,%3csvg viewBox='0 0 80 71' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M6.742,33.349 C6.828,34.466 7.087,35.583 7.606,36.615 C10.283,42.460 15.725,49.767 15.725,49.767 L15.984,50.197 C16.243,50.540 16.675,50.626 17.021,50.454 C17.453,50.282 17.539,49.767 17.280,49.337 L10.111,37.733 C9.333,36.443 9.765,34.638 11.147,33.778 C12.529,32.919 14.343,33.349 15.120,34.638 L22.549,44.179 C23.067,44.781 23.931,45.727 24.622,46.157 C31.359,50.970 32.223,55.784 32.828,58.277 C32.828,58.277 32.914,58.793 32.914,59.652 L32.914,59.652 L32.914,59.652 C32.914,60.340 32.914,61.113 32.828,61.973 L32.396,69.967 C32.396,70.569 31.878,70.999 31.359,70.999 L18.835,70.913 C18.230,70.913 17.798,70.397 17.798,69.881 L17.539,63.262 L5.533,48.993 C3.805,47.102 2.596,45.039 2.164,42.546 L2.078,41.773 L0.004,21.744 C-0.082,20.799 0.264,19.767 1.041,19.165 C1.991,18.392 3.460,18.134 4.582,19.337 C5.360,20.197 5.705,22.947 5.878,23.721 C6.310,26.386 6.742,30.082 6.828,32.747 C6.742,32.919 6.742,33.177 6.742,33.349 ZM8.988,31.372 C8.988,31.629 8.988,31.801 8.988,32.059 C9.247,31.801 9.506,31.629 9.765,31.458 C10.111,31.200 10.542,31.028 10.888,30.942 C10.888,30.942 10.888,30.856 10.974,30.856 C10.715,28.793 9.938,24.839 9.419,22.861 C9.160,21.830 8.556,21.142 7.519,20.799 C7.778,21.486 7.865,22.174 7.951,22.861 C8.383,25.097 8.901,29.222 8.988,31.372 ZM13.047,30.598 C13.652,30.598 14.257,30.770 14.861,30.942 C14.689,29.566 13.738,26.902 13.393,25.698 C13.134,24.667 12.529,23.979 11.493,23.635 C11.838,25.183 12.702,27.933 12.875,29.394 L13.047,30.426 C13.047,30.426 13.047,30.512 13.047,30.598 ZM75.498,19.337 C74.721,20.197 74.375,22.947 74.202,23.721 C73.771,26.386 73.339,30.082 73.252,32.747 C73.252,32.919 73.252,33.177 73.252,33.349 C73.166,34.466 72.907,35.583 72.388,36.615 C69.711,42.460 64.269,49.767 64.269,49.767 L64.010,50.197 C63.751,50.540 63.319,50.626 62.973,50.454 C62.541,50.282 62.455,49.767 62.714,49.337 L69.884,37.733 C70.661,36.443 70.229,34.638 68.847,33.778 C67.465,32.919 65.651,33.349 64.874,34.638 L57.445,44.179 C56.927,44.781 56.063,45.727 55.372,46.157 C48.635,50.970 47.771,55.784 47.166,58.277 C47.166,58.277 47.080,58.793 47.080,59.652 L47.080,59.652 C47.080,60.340 47.080,61.113 47.166,61.973 L47.598,69.967 C47.598,70.569 48.117,70.999 48.635,70.999 L61.159,70.913 C61.764,70.913 62.196,70.397 62.196,69.881 L62.455,63.262 L74.375,48.993 C76.103,47.102 77.312,45.039 77.744,42.546 L77.830,41.773 L79.990,21.744 C80.076,20.799 79.731,19.767 78.953,19.079 C78.089,18.392 76.621,18.134 75.498,19.337 ZM69.020,30.856 C69.020,30.856 69.106,30.856 69.020,30.856 C69.452,31.028 69.797,31.200 70.229,31.458 C70.488,31.629 70.747,31.801 71.006,32.059 C71.006,31.801 71.006,31.629 71.006,31.372 C71.006,29.222 71.611,25.097 71.957,22.861 C72.043,22.174 72.216,21.486 72.388,20.799 C71.352,21.142 70.747,21.916 70.488,22.861 C70.056,24.839 69.279,28.793 69.020,30.856 ZM65.219,30.942 C65.824,30.770 66.428,30.598 67.033,30.598 C67.033,30.512 67.033,30.426 67.033,30.340 L67.206,29.308 C67.379,27.847 68.242,25.097 68.588,23.549 C67.551,23.893 66.947,24.667 66.688,25.612 C66.256,26.988 65.392,29.652 65.219,30.942 ZM60.555,22.432 C59.691,23.377 59.605,24.667 60.209,25.784 L60.814,26.730 C61.678,28.191 60.987,30.168 59.432,30.770 L58.395,31.200 C57.273,31.715 56.495,32.833 56.581,34.036 L56.668,35.154 C56.754,36.873 55.372,38.334 53.645,38.248 L52.522,38.162 C51.312,38.076 50.103,38.850 49.671,39.968 L49.239,40.999 C48.635,42.632 46.648,43.320 45.180,42.460 L44.143,41.944 C43.020,41.343 41.725,41.515 40.774,42.374 L39.911,43.148 C38.615,44.351 36.628,44.093 35.592,42.718 L34.901,41.773 C34.210,40.741 32.914,40.311 31.705,40.655 L30.582,40.999 C28.941,41.515 27.213,40.397 26.868,38.764 L26.695,37.647 C26.522,36.443 25.486,35.497 24.276,35.326 L23.154,35.154 C21.426,34.896 20.303,33.177 20.821,31.543 L21.167,30.426 C21.512,29.222 21.080,27.933 20.044,27.246 L19.094,26.644 C17.625,25.698 17.453,23.635 18.576,22.346 L19.353,21.486 C20.217,20.541 20.303,19.251 19.698,18.134 L19.094,17.188 C18.230,15.727 18.921,13.750 20.476,13.148 L21.512,12.718 C22.635,12.203 23.413,11.085 23.326,9.881 L23.240,8.764 C23.154,7.045 24.536,5.584 26.263,5.670 L27.386,5.756 C28.595,5.842 29.805,5.068 30.236,3.950 L30.668,2.919 C31.273,1.286 33.260,0.598 34.728,1.458 L35.765,1.973 C36.887,2.575 38.183,2.403 39.133,1.544 L39.997,0.770 C41.293,-0.433 43.279,-0.175 44.316,1.200 L45.007,2.145 C45.698,3.177 46.994,3.606 48.203,3.263 L49.326,2.919 C50.967,2.403 52.695,3.520 53.040,5.154 L53.213,6.272 C53.386,7.475 54.422,8.420 55.631,8.592 L56.754,8.764 C58.482,9.022 59.605,10.741 59.086,12.375 L58.741,13.492 C58.395,14.695 58.827,15.985 59.864,16.672 L60.814,17.274 C62.282,18.220 62.455,20.283 61.332,21.572 L60.555,22.432 ZM53.731,22.002 C53.731,14.438 47.598,8.334 39.997,8.334 C32.396,8.334 26.263,14.438 26.263,22.002 C26.263,29.566 32.396,35.669 39.997,35.669 C47.598,35.583 53.731,29.480 53.731,22.002 ZM47.857,18.478 L42.847,18.134 L40.947,13.492 C40.774,13.062 40.343,12.804 39.997,12.804 C39.565,12.804 39.220,13.062 39.047,13.492 L37.147,18.134 L32.137,18.478 C31.187,18.564 30.755,19.681 31.532,20.369 L35.419,23.549 L34.210,28.363 C34.037,29.050 34.555,29.652 35.160,29.652 C35.333,29.652 35.505,29.566 35.678,29.480 L39.911,26.902 L44.230,29.480 C44.402,29.566 44.575,29.652 44.748,29.652 C45.352,29.652 45.871,29.050 45.784,28.363 L44.575,23.463 L48.462,20.283 C49.239,19.681 48.808,18.478 47.857,18.478 Z'/%3e%3c/svg%3e")
}


@media only screen and (max-width:1469px) {
    .section-app-benefits ._bubble .__reward {
        margin-top: -3.05rem;
        width: 7rem;
        height: 6.1rem
    }
}

@media only screen and (max-width:1280px) {
    .section-app-benefits ._bubble .__reward {
        margin-top: -2.45rem;
        width: 5.5rem;
        height: 4.9rem
    }
}

@media only screen and (max-width:991px) {
    .section-app-benefits ._bubble .__reward {
        margin-top: -2.25rem;
        width: 5rem;
        height: 4.5rem
    }
}

.section-app-benefits ._bubble .__list-features {
    margin-left: 6rem;
    font-size: 2.1rem
}

@media only screen and (max-width:1469px) {
    .section-app-benefits ._bubble .__list-features {
        margin-left: 4rem;
        font-size: 1.9rem
    }
}


@media only screen and (max-width:1280px) {
    .section-app-benefits ._bubble .__list-features {
        margin-left: 2rem;
        font-size: 1.7rem
    }
}

@media only screen and (max-width:991px) {
    .section-app-benefits ._bubble .__list-features {
        font-size: 1.6rem
    }
}

.section-app-benefits ._bubble .__list-features>li {
    margin-bottom: 1rem
}

@media only screen and (max-width:1469px) {
    .section-app-benefits ._bubble .__list-features>li {
        margin-bottom: .7rem
    }
}

@media only screen and (max-width:991px) {
    .section-app-benefits ._bubble .__list-features>li {
        margin-bottom: .5rem
    }
}

.section-app-benefits ._theme-green {
    top: 30.5rem;
    left: 0;
    background: #98ef43;
    background: -webkit-gradient(left top, right bottom,
            color-stop(0, #98ef43),
            color-stop(58%, rgba(133, 219, 49, .95)),

            color-stop(100%, rgba(120, 204, 36, .95)));
    background: linear-gradient(135deg,
            #98ef43 0, rgba(133, 219, 49, .95) 58%,
            rgba(120, 204, 36, .95) 100%)
}

@media only screen and (max-width:1469px) {
    .section-app-benefits ._theme-green {
        top: 38rem
    }
}

@media only screen and (max-width:1280px) {
    .section-app-benefits ._theme-green {
        top: 36%
    }
}

@media only screen and (max-width:991px) {
    .section-app-benefits ._theme-green {
        top: 45%
    }
}

.section-app-benefits ._theme-orange {
    top: 19.5rem;
    right: 3rem;
    background: #f6a832;
    background: -webkit-gradient(left top, right bottom,
            color-stop(0, #f6a832),
            color-stop(58%, rgba(249, 177, 55, .95)),
            color-stop(100%, rgba(251, 184, 59, .95)));
    background: linear-gradient(135deg, #f6a832 0, rgba(249, 177, 55, .95) 58%, rgba(251, 184, 59, .95) 100%)
}

@media only screen and (max-width:1469px) {
    .section-app-benefits ._theme-orange {
        top: 30rem
    }
}

@media only screen and (max-width:1280px) {
    .section-app-benefits ._theme-orange {
        top: 20%;
        right: 1%
    }
}

@media only screen and (max-width:991px) {
    .section-app-benefits ._theme-orange {
        right: 0;
        top: 23%
    }
}


.section-app-benefits ._theme-blue {
    bottom: 5rem;
    left: 43rem;
    background: #5bc0ff;
    background: -webkit-gradient(left top, right bottom,
            color-stop(0, #5bc0ff),
            color-stop(58%, rgba(72, 175, 239, .95)), color-stop(100%, rgba(59, 163, 228, .95)));
    background: linear-gradient(135deg, #5bc0ff 0, rgba(72, 175, 239, .95) 58%, rgba(59, 163, 228, .95) 100%);
    z-index: 0
}

@media only screen and (max-width:1920px) {
    .section-app-benefits ._theme-blue {
        bottom: 2rem
    }
}

@media only screen and (max-width:1469px) {
    .section-app-benefits ._theme-blue {
        left: 35%;
        bottom: 5rem
    }
}

@media only screen and (max-width:1280px) {

    .section-app-benefits ._theme-blue {
        left: 40%;
        bottom: 1%
    }
}


/* app-feature */

.section-app-features {
    padding: 5rem 0
}

@media only screen and (max-width:575px) {
    .section-app-features {
        padding: 0 0 1rem
    }
}

.section-app-features ._wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

@media only screen and (max-width:991px) {
    .section-app-features ._wrapper {
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

.section-app-features ._item {
    /* font-family: Rubik, Helvetica, Arial, sans-serif; */
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 3rem 0 4rem;
    width: 17%;
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #eaeaea;
    box-shadow: rgba(219, 213, 208, .78) 0 3px 6px;
    border-radius: 2rem;
    line-height: 1.35;
    transition: all .15s ease-in-out 0s
}

@media only screen and (max-width:1469px) {
    .section-app-features ._item {
        width: 18%;
        font-size: 2rem
    }
}

@media only screen and (max-width:1280px) {
    .section-app-features ._item {
        font-size: 1.6rem;
        border-radius: 1.5rem
    }
}

@media only screen and (max-width:991px) {
    .section-app-features ._item {
        margin: 0 2rem 4rem;
        width: 25%
    }
}

@media only screen and (max-width:767px) {
    .section-app-features ._item {
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 2rem 0 3rem;
        width: 29%;
        font-size: 1.5rem
    }
}

@media only screen and (max-width:575px) {
    .section-app-features ._item {
        margin-left: auto;
        margin-right: auto;
        width: 43%;
        max-width: 22.5rem
    }
}

.section-app-features ._item figure {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 0 20% 1.5rem;
    min-height: 13.5rem
}

@media only screen and (max-width:767px) {
    .section-app-features ._item figure {
        margin-bottom: 1rem;
        min-height: 12.5rem
    }
}

.section-app-features ._item:hover {
    position: relative;
    margin-top: -1rem;
    margin-bottom: -1rem;
    padding: 4rem 0 5rem;
    box-shadow: rgba(219, 213, 208, .78) 0 20px 23px;
    cursor: pointer
}

@media only screen and (max-width:991px) {
    .section-app-features ._item:hover {
        margin-bottom: 3rem
    }
}

@media only screen and (max-width:767px) {
    .section-app-features ._item:hover {
        padding: 3rem 0 4rem
    }
}

.section-watch-features {
    position: relative;
    overflow: hidden
}

._headline,
.section-toprated ._features .__item .__heading {
    /* font-family: Rubik, Helvetica, Arial, sans-serif; */
    color: #268fd0;
    font-size: 3rem;
}

.text-center {
    text-align: center !important;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}

/* .h3, h3 {
                                font-size: 6rem;
                            } */



/* section-watch-features */


/* section-more */


.section-more {
    padding-top: 3.47%;
    padding-bottom: 6rem;
    background-color: #fafafa
}

@media only screen and (max-width:1280px) {
    .section-more {
        padding-bottom: 14%
    }
}

.section-more ._headline,
.section-more .section-toprated ._features .__item .__heading {
    margin-bottom: 5.56%
}

.section-more ._tiles {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

@media only screen and (max-width:575px) {
    .section-more ._tiles {
        -webkit-flex-direction: column;
        flex-direction: column
    }
}

.section-more ._tiles .__item-wrapper {
    width: 36.11%
}

@media only screen and (max-width:767px) {
    .section-more ._tiles .__item-wrapper {
        width: 43%
    }
}

@media only screen and (max-width:575px) {
    .section-more ._tiles .__item-wrapper {
        min-width: 100%
    }
}

.section-more ._tiles .__item {
    position: relative;
    padding: 3.47% 4.17%;
    margin-bottom: 2rem;
    height: 48.5rem;
    cursor: pointer;
    color: #fff;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    box-shadow: rgba(62, 62, 62, .21) 0 15px 51px -15px;
    transition: all .15s ease-in-out 0s
}


@media only screen and (max-width:1366px) {
    .section-more ._tiles .__item {
        height: 45rem
    }
}

@media only screen and (max-width:767px) {
    .section-more ._tiles .__item {
        height: 40rem
    }
}

@media only screen and (max-width:575px) {
    .section-more ._tiles .__item {
        min-width: 100%;
        height: 35rem;
        box-shadow: rgba(62, 62, 62, .61) 0 7px 25px -7px
    }
}

.section-more ._tiles .__item:focus,
.section-more ._tiles .__item:hover {
    box-shadow: none
}

.section-more ._tiles .__item .__header {
    display: -webkit-flex;
    display: flex
}

.section-more ._tiles .__item .__headline {
    /* font-family: Rubik, Helvetica, Arial, sans-serif; */
    line-height: 1.05
}

.section-more ._tiles .__item .__headline.h4 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -.04em;
    font-size: 4.8rem;
    line-height: 1.05;
    font-size: 5rem
}

@media only screen and (max-width:1469px) {
    .section-more ._tiles .__item .__headline.h4 {
        font-size: 4.6rem
    }
}

@media only screen and (max-width:991px) {
    .section-more ._tiles .__item .__headline.h4 {
        font-size: 4.2rem
    }
}

@media only screen and (max-width:767px) {
    .section-more ._tiles .__item .__headline.h4 {
        font-size: 3.6rem
    }
}

@media only screen and (max-width:575px) {
    .section-more ._tiles .__item .__headline.h4 {
        font-size: 3.2rem
    }
}

@media print {
    .section-more ._tiles .__item .__headline.h4 {
        font-size: 4.2rem
    }
}

@media only screen and (max-width:1280px) {
    .section-more ._tiles .__item .__headline.h4 {
        font-size: 4.4rem
    }
}

@media only screen and (max-width:767px) {
    .section-more ._tiles .__item .__headline.h4 {
        font-size: 4rem
    }
}

.section-more ._tiles .__item .__headline.h5 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -.04em;
    font-size: 4.2rem;
    line-height: 1.05;
    font-size: 4.4rem
}

@media only screen and (max-width:1469px) {
    .section-more ._tiles .__item .__headline.h5 {
        font-size: 3.8rem
    }
}

@media only screen and (max-width:991px) {
    .section-more ._tiles .__item .__headline.h5 {
        font-size: 3.4rem
    }
}

@media only screen and (max-width:767px) {
    .section-more ._tiles .__item .__headline.h5 {
        font-size: 3.2rem
    }
}

@media only screen and (max-width:575px) {
    .section-more ._tiles .__item .__headline.h5 {
        font-size: 2.6rem
    }
}

@media print {
    .section-more ._tiles .__item .__headline.h5 {
        font-size: 3.8rem
    }
}

.section-more ._tiles .__ar-grocery {
    width: 62.5%;
    background-image: url(https://s3.amazonaws.com/img.mynetdiary.com/images/bg-ar-grocery@2x.jpg)
}

@media only screen and (max-width:1279px) {
    .section-more ._tiles .__ar-grocery {
        background-position: 30% 50%
    }
}

@media only screen and (max-width:991px) {
    .section-more ._tiles .__ar-grocery {
        background-position: 25% 50%
    }
}

@media only screen and (max-width:767px) {
    .section-more ._tiles .__ar-grocery {
        width: 55%;
        background-position: 20% 50%
    }
}

.section-more ._tiles .__ar-grocery .__header {
    -webkit-flex-direction: column;
    flex-direction: column
}

.section-more ._tiles .__ar-grocery .__headline {
    margin: 5rem 0 2rem !important
}

.section-more ._tiles .__ar-grocery .__icon {
    width: 8.7rem
}

@media only screen and (max-width:1469px) {
    .section-more ._tiles .__ar-grocery .__icon {
        width: 8.2rem
    }
}

@media only screen and (max-width:1280px) {
    .section-more ._tiles .__ar-grocery .__icon {
        width: 7.8rem
    }
}

@media only screen and (max-width:767px) {
    .section-more ._tiles .__ar-grocery .__icon {
        width: 6.4rem
    }
}

.section-more ._tiles .__imessage {
    width: 36.11%;
    color: #292929;
    background-image: url(https://s3.amazonaws.com/img.mynetdiary.com/images/bg-imessage@2x.png);
    background-position: 50% 80%;
    background-size: 70% auto
}

@media only screen and (max-width:1280px) {
    .section-more ._tiles .__imessage {
        background-position: 50% 90%
    }
}

@media only screen and (max-width:767px) {
    .section-more ._tiles .__imessage {
        width: 43%
    }
}

.section-more ._tiles .__imessage .__header {
    -webkit-align-items: flex-start;
    align-items: flex-start
}

@media only screen and (max-width:1280px) {
    .section-more ._tiles .__imessage .__header {
        -webkit-flex-direction: column;
        flex-direction: column
    }
}

@media only screen and (max-width:575px) {
    .section-more ._tiles .__imessage .__header {
        -webkit-flex-direction: row;
        flex-direction: row
    }
}

.section-more ._tiles .__imessage .__icon {
    margin-right: 3.5rem;
    width: 8.7rem
}

@media only screen and (max-width:1469px) {
    .section-more ._tiles .__imessage .__icon {
        width: 8.2rem
    }
}

@media only screen and (max-width:1280px) {
    .section-more ._tiles .__imessage .__icon {
        margin: 0 0 1.5rem;
        width: 7.8rem
    }
}

@media only screen and (max-width:767px) {
    .section-more ._tiles .__imessage .__icon {
        width: 6.4rem
    }
}

@media only screen and (max-width:575px) {
    .section-more ._tiles .__imessage .__icon {
        margin: 0 1.5rem 0 0
    }
}

.section-more ._tiles .__imessage .__btn-expand {
    background: rgba(0, 0, 0, .05) url("data:image/svg+xml,%3csvg viewBox='0 0 21 21' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' fill='rgb(179, 179, 179)' d='M19.500,12.000 L12.000,12.000 L12.000,19.500 C12.000,20.329 11.328,21.000 10.500,21.000 C9.672,21.000 9.000,20.329 9.000,19.500 L9.000,12.000 L1.500,12.000 C0.672,12.000 0.000,11.328 0.000,10.500 C0.000,9.672 0.672,9.000 1.500,9.000 L9.000,9.000 L9.000,1.500 C9.000,0.672 9.672,-0.000 10.500,-0.000 C11.328,-0.000 12.000,0.672 12.000,1.500 L12.000,9.000 L19.500,9.000 C20.328,9.000 21.000,9.672 21.000,10.500 C21.000,11.328 20.328,12.000 19.500,12.000 Z'/%3e%3c/svg%3e") 50% 50% no-repeat;
    background-size: 2.1rem auto
}

.section-more ._tiles .__siri {
    width: 36.11%;
    color: #292929;
    background-image: url(https://s3.amazonaws.com/img.mynetdiary.com/images/bg-siri@2x.jpg)
}

@media only screen and (max-width:767px) {
    .section-more ._tiles .__siri {
        width: 43%
    }
}

.section-more ._tiles .__siri .__header {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    height: 100%
}

.section-more ._tiles .__siri .__icon {
    margin-bottom: 1rem;
    width: 8.2rem
}

@media only screen and (max-width:1469px) {
    .section-more ._tiles .__siri .__icon {
        width: 7.8rem
    }
}

@media only screen and (max-width:1280px) {
    .section-more ._tiles .__siri .__icon {
        width: 7.3rem
    }
}

@media only screen and (max-width:767px) {
    .section-more ._tiles .__siri .__icon {
        width: 6rem
    }
}

.section-more ._tiles .__siri .__btn-expand {
    background-color: rgba(0, 0, 0, .2)
}

.section-more ._tiles .__health {
    width: 62.5%;
    background-image: url(https://s3.amazonaws.com/img.mynetdiary.com/images/bg-ios-health@2x.jpg)
}

@media only screen and (max-width:991px) {
    .section-more ._tiles .__health {
        background-position: 40% 50%
    }
}

@media only screen and (max-width:767px) {
    .section-more ._tiles .__health {
        width: 55%;
        background-position: 30% 50%
    }
}

.section-more ._tiles .__health .__header {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 100%
}

.section-more ._tiles .__health .__icon {
    width: 8.7rem
}

@media only screen and (max-width:1469px) {
    .section-more ._tiles .__health .__icon {
        width: 8.2rem
    }
}

@media only screen and (max-width:1280px) {
    .section-more ._tiles .__health .__icon {
        width: 7.8rem
    }
}

@media only screen and (max-width:767px) {
    .section-more ._tiles .__health .__icon {
        width: 6.4rem
    }
}

.section-more ._tiles .__gold {
    width: 62.5%;
    height: 71.4rem;
    background-image: url(https://s3.amazonaws.com/img.mynetdiary.com/images/bg-gold-standard@2x.jpg)
}

@media only screen and (max-width:767px) {
    .section-more ._tiles .__gold {
        width: 55%
    }
}

@media only screen and (max-width:575px) {
    .section-more ._tiles .__gold {
        height: 35rem
    }
}

.section-more ._tiles .__coming {
    padding-top: 8.65%;
    padding-left: 7.69%;
    height: 34.7rem;
    background-image: url(https://s3.amazonaws.com/img.mynetdiary.com/images/bg-coming-soon@2x.jpg)
}

@media only screen and (max-width:575px) {
    .section-more ._tiles .__coming {
        padding: 3.47% 4.17%;
        height: 35rem
    }
}

.section-more ._tiles .__coming .__header {
    -webkit-flex-direction: column;
    flex-direction: column
}

.section-more ._tiles .__coming .__headline {
    margin-top: 1rem
}

@media only screen and (max-width:991px) {
    .section-more ._tiles .__coming .__headline.h4 {
        font-size: 3.6rem
    }
}

@media only screen and (max-width:767px) {
    .section-more ._tiles .__coming .__headline.h4 {
        font-size: 3.2rem
    }
}

.section-more ._tiles .__coming .__icon {
    margin-bottom: 1.5rem;
    width: 14.8rem
}

@media only screen and (max-width:1469px) {
    .section-more ._tiles .__coming .__icon {
        width: 14.3rem
    }
}

@media only screen and (max-width:1280px) {
    .section-more ._tiles .__coming .__icon {
        width: 13.8rem
    }
}

@media only screen and (max-width:767px) {
    .section-more ._tiles .__coming .__icon {
        width: 12.4rem
    }
}

.section-more ._tiles .__flexibility {
    padding-top: 8.65%;
    padding-left: 7.69%;
    height: 34.7rem;
    background-image: url(https://s3.amazonaws.com/img.mynetdiary.com/images/bg-flexibility@2x.jpg)
}

@media only screen and (max-width:575px) {
    .section-more ._tiles .__flexibility {
        padding: 3.47% 4.17%;
        height: 35rem
    }
}

.section-more ._tiles .__flexibility .__headline {
    color: #192840
}

@media only screen and (max-width:991px) {
    .section-more ._tiles .__flexibility .__headline.h4 {
        font-size: 3.6rem
    }
}

@media only screen and (max-width:767px) {
    .section-more ._tiles .__flexibility .__headline.h4 {
        font-size: 3.2rem
    }
}

.section-more ._tiles .__flexibility .__btn-expand {
    background-color: rgba(0, 0, 0, .2)
}

.section-more ._tiles .__btn-expand {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    width: 4.2rem;
    height: 4.2rem;
    background: rgba(255, 255, 255, .45) url("data:image/svg+xml,%3csvg viewBox='0 0 21 21' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M19.500,12.000 L12.000,12.000 L12.000,19.500 C12.000,20.329 11.328,21.000 10.500,21.000 C9.672,21.000 9.000,20.329 9.000,19.500 L9.000,12.000 L1.500,12.000 C0.672,12.000 0.000,11.328 0.000,10.500 C0.000,9.672 0.672,9.000 1.500,9.000 L9.000,9.000 L9.000,1.500 C9.000,0.672 9.672,-0.000 10.500,-0.000 C11.328,-0.000 12.000,0.672 12.000,1.500 L12.000,9.000 L19.500,9.000 C20.328,9.000 21.000,9.672 21.000,10.500 C21.000,11.328 20.328,12.000 19.500,12.000 Z'/%3e%3c/svg%3e") 50% 50% no-repeat;
    background-size: 2.1rem auto;
    border-radius: 50%
}

@media only screen and (max-width:1280px) {
    .section-more ._tiles .__btn-expand {
        right: 1.5rem;
        bottom: 1.5rem
    }
}

@media only screen and (max-width:991px) {
    .section-more ._tiles .__btn-expand {
        right: .5rem;
        bottom: .5rem
    }
}

.section-more ._stores {
    text-align: center
}

.section-more ._stores ._headline,
.section-more ._stores .section-toprated ._features .__item .__heading {
    margin-top: 7%;
    margin-bottom: 3%
}

.section-more ._stores .__btn {
    max-width: 26rem;
    display: inline-block
}

@media only screen and (max-width:1469px) {
    .section-more ._stores .__btn {
        max-width: 25rem
    }
}

@media only screen and (max-width:1280px) {
    .section-more ._stores .__btn {
        max-width: 20rem
    }
}

@media only screen and (max-width:767px) {
    .section-more ._stores .__btn {
        max-width: 15rem
    }
}



.section-reviews {
    position: relative;
    padding-top: 16rem;
    overflow: hidden;
    background: #fff url(https://s3.amazonaws.com/img.mynetdiary.com/images/pattern-grunge-400x400.jpg) 0 0 repeat
}

@media only screen and (max-width:767px) {
    .section-reviews {
        padding-top: 13rem
    }
}

@media print {
    .section-reviews {
        background: 0 0
    }
}

.section-reviews::before {
    position: absolute;
    top: -54rem;
    left: -5rem;
    right: -5rem;
    display: block;
    width: auto;
    height: 60rem;
    background: #fafafa;
    content: '';
    border-bottom-right-radius: 100rem 5rem;
    border-bottom-left-radius: 100rem 5rem;
}

.reviewbox {
    position: relative;
    padding: 7rem 6rem 3rem;
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 2rem;
    box-shadow: 0 3px 6px rgba(219, 213, 208, .78);
    line-height: 1.5
}

@media only screen and (max-width:1469px) {
    .reviewbox {
        font-size: 2.2rem
    }
}

@media only screen and (max-width:1280px) {
    .reviewbox {
        padding: 7rem 4rem 2rem
    }
}


@media only screen and (max-width:991px) {
    .reviewbox {
        padding: 5rem 3rem 2rem !important;
        font-size: 2rem
    }
}

@media only screen and (max-width:575px) {
    .reviewbox {
        padding-top: 4rem !important;
        padding-bottom: 1rem !important;
        font-size: 1.6rem
    }
}

.reviewbox::before {
    position: absolute;
    content: '';
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% auto
}

.reviewbox_theme_green::before {
    top: -40px;
    left: -30px;
    width: 142px;
    height: 94px;
    background-image: url(https://s3.amazonaws.com/img.mynetdiary.com/images/features-quotes-green.png)
}

@media only screen and (max-width:991px) {
    .reviewbox_theme_green::before {
        top: -30px;
        left: -24px;
        width: 102px;
        height: 68px
    }
}

@media only screen and (max-width:575px) {
    .reviewbox_theme_green::before {
        top: -20px;
        width: 75px;
        height: 49px
    }
}

.reviewbox_theme_orange::before {
    top: -30px;
    left: -20px;
    width: 105px;
    height: 69px;
    background-image: url(https://s3.amazonaws.com/img.mynetdiary.com/images/features-quotes-orange.png)
}

@media only screen and (max-width:991px) {
    .reviewbox_theme_orange::before {
        width: 85px;
        height: 56px
    }
}

@media only screen and (max-width:575px) {
    .reviewbox_theme_orange::before {
        top: -20px;
        width: 75px;
        height: 49px
    }
}

.reviewbox_theme_blue::before {
    top: -27px;
    left: -17px;
    width: 95px;
    height: 62px;
    background-image: url(https://s3.amazonaws.com/img.mynetdiary.com/images/features-quotes-blue.png)
}

@media only screen and (max-width:991px) {
    .reviewbox_theme_blue::before {
        top: -20px;
        width: 75px;
        height: 49px
    }
}

.reviewbox_el_1 {
    margin-left: 4.17%;
    margin-top: 9rem;
    margin-bottom: -13%;
    padding-right: 9rem;
    width: 58.33%
}

@media only screen and (max-width:1280px) {
    .reviewbox_el_1 {
        padding-right: 7rem
    }
}

@media only screen and (max-width:991px) {
    .reviewbox_el_1 {
        margin: 9rem 5% 4rem;
        width: auto
    }
}

@media only screen and (max-width:767px) {
    .reviewbox_el_1 {
        margin-top: 6rem
    }
}

.reviewbox_el_2 {
    margin-left: 58.34%;
    margin-bottom: -15%;
    width: 37.5%
}

@media only screen and (max-width:991px) {
    .reviewbox_el_2 {
        margin: 0 5% 4rem;
        width: auto
    }
}

.reviewbox_el_3 {
    margin-left: 8.34%;
    padding-bottom: 6rem;
    margin-bottom: -4%;
    width: 45.83%
}

@media only screen and (max-width:991px) {
    .reviewbox_el_3 {
        margin: 0 5% 4rem;
        width: auto
    }
}

.reviewbox_el_4 {
    margin-left: 50.17%;
    margin-bottom: -24%;
    width: 45.83%
}

@media only screen and (max-width:991px) {
    .reviewbox_el_4 {
        margin: 0 5% 4rem;
        width: auto
    }
}

.reviewbox_el_5 {
    margin-left: 4.17%;
    padding-bottom: 5rem;
    margin-bottom: -3rem;
    width: 41.67%
}

@media only screen and (max-width:991px) {
    .reviewbox_el_5 {
        margin: 0 5% 4rem;
        width: auto
    }
}


.reviewbox_el_6 {
    margin-left: 24.17%;
    margin-bottom: 2rem;
    width: 50%
}

@media only screen and (max-width:991px) {
    .reviewbox_el_6 {
        margin: 0 5% 2rem;
        width: auto
    }
}

.reviewbox__nested {
    position: absolute;
    left: 100%;
    margin-left: -6rem
}

.reviewbox_el_1 .reviewbox__nested {
    top: 45%;
    width: 64.29%
}

@media only screen and (max-width:991px) {
    .reviewbox_el_1 .reviewbox__nested {
        width: 79%
    }
}

.reviewbox_el_2 .reviewbox__nested {
    top: 100%;
    margin-top: -6rem;
    width: 100%
}

@media only screen and (max-width:1280px) {
    .reviewbox_el_2 .reviewbox__nested {
        margin-top: -9rem;
        width: 105%
    }
}

@media only screen and (max-width:991px) {
    .reviewbox_el_2 .reviewbox__nested {
        margin-left: 2rem
    }
}

.reviewbox_el_3 .reviewbox__nested {
    top: 100%;
    left: 55%;
    margin-top: -3rem;
    width: 120%
}